<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Autoskola</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION -->
					<center>
						<img src="dmv.png" class="logo">
						<br>
						<p class="bold-text">Vitajte v autoskole
					</center>
					<br>
					<center>Kazdy ucastnik cestnej premavky ale aj vlastnik motoroveho vozidla potrebuje autoskolu.
						<br>Priprav sa na test autoskoly z reality - Podla platnych pravidiel cestnej premavky!
						<br>
						<br> Teoreticky test
						<br> - Test pozostava z 10 otazok s vybranych s oficialnych testoch na autoskolu.
						<br> - Cena teoretickej casti je spoplatnena jednorazovym poplatkom 200€. Je nutne vediet 9 z 10 otazok! Neuspesny test mozes opakovat za rovnaky poplatok.
						<br> - Upozornenie: Pri opakovanom poruseni pravidiel cestnej premavky Vam bude zabaveny vodicky preukaz!
						<br>
						<br> Prakticka cast - Jazda
						<br> - Cena praktickej casti je spoplatnena jednorazovym poplatkom 500€. Neuspesny test mozes opakovat za rovnaky poplatok.
						<br> - Pri jazde je tolerovany jeden priestupok! Vymedz si cas na splnenie jazdy cas 5-10min.
						<br> - Pri praktickej casti je nutne dodrziavat rychlost, dbat na bezpecnost premavky, vyhnut sa koliziam a riadit sa podla predpisov!</p>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Start</a>
				</div>
				<div class="barre-progression">
					<h2>Priebeh testu</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
						<button type="submit" id="submit" class="submit">Dalsia otazka</button>
					</form>
				</div>
				<div class="barre-progression">
					<h2>Priebeh testu</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Results -->
			<div class="body resultGood">
				<div class="content">
					<center>
						<p class="bold-text">Gratulujeme!</p>
						<br>
						<br>Gratulujeme k uspesnemu dokoncenciu autoskoly!
						<br>
						<br>Mozes pokracovat na zaverecnu jazdu. Vela stastia!
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnClose">Zatvorit</a>
				</div>
				<div class="barre-progression">
					<h2>Progress</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center>
						<p class="bold-text">Dnes to nebude</p>
						<br>
						<br>Test si nespravil! Nauc sa pravidla cestnej premavky. Ak nie si vodic, obrat sa na Admina.
						<br>Test mozes kedykolvek opakovat.
						<br>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnKick">Zavriet</a>
				</div>
				<div class="barre-progression">
					<h2>Priebeh testu</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>

</body>