/*
-- MADE BY KALU 
-- [ALL CITY]
-- version : 1.00
-- update : 
-- info: 
*/
@font-face {
  font-family: 'Edo';
  src: url('../font/edosz.ttf');  
}

html {
	overflow: hidden;
}

body {
	
	margin: 0px;
	padding: 0px;
}

section {
	height: 500px;

}


#container {
	
	position: absolute;
	/*top: 17vh;*/
	bottom: -100%;
	left: 17%; /*25*/
	width: 1258px; /*958px;*/
	height: 700px;
	color: white;
	border-radius: 40px;
	border: 1px solid #333;
	background-color: rgba(0,0,0,0.5);
	display: none;
	flex-direction: column;
}


header {
	width: 1258px;
	height: 92px;
	/*background-color: #a519ea;*/
	opacity: 0.8;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;

}

header img {
	width: 1258px;
	height: 92px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

#wrapper {
	display: flex;
	flex-direction: row;
	justify-content: left;
	left: 50px;
	align-items: left;
	height: 400px;
	/*border: blue 1px solid;*/

}


.keys-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*border: blue 1px solid;*/
	margin-top: 20px;
	width: 550px;
	height: 400px;
}

.keys-wrapper2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*border: blue 1px solid;*/
	margin-top: 20px;
	width: 550px;
	height: 400px;
}


#title {
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Edo';
	margin: 13px 0px;
	color: white;
}


.key {
	height: 60px;
	width: 350px;
	display: flex;
	flex-direction: row;

}


.key p {
	font-family: 'Edo';
	font-size: 18px;
	margin-left: 40px;
	color: white;
}


.img-key {

}

.middle-bar {
	border-right: rgba(245, 245, 245, 0.37) dotted 2px;
}
