#status_list {
	position: absolute;
	left   : 16%;
	bottom : 15;
	width  : 14.5%;
	opacity: 0.8;
}

.status {
	padding: 1px;
	margin: 0.1em;
}

.status_inner {
	padding: 1px;
}

.status_val {
	height : 0.7em;
}