@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  left: 15px;
  width: 38%;
  height: 530px;
  background-color: rgba(255, 255, 255, 0);
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

.chat-messages {
  max-height: 100%;
  font-size: 1.0rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  top: 22.8%;
  left: 15px;
  width: 38.1%;
  box-sizing: border-box;
}

textarea {
  font-size: 1.65vh;
  display: block;
  box-sizing: border-box;
  padding-top: 1%;
  padding-left: 3.5%;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.62);
  width: 100%;
  border: 1px solid #000000;
  height: 45px;
  min-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 5px;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: #ffffff;
  background-color: rgba(50, 50, 50, 0.664);
  border: 1px solid #666666;
  width: 100%;
}

.help {
  margin-top: -10px;
  color: #aaaaaa;
}

.disabled {
  margin-top: -10px;
  color: #ff0000;
}

.suggestion {
  margin-bottom: 5px;
}

.chat-message {
  display: inline-block !important;
  padding: 0.5vw;
  margin: 0.1vw;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.8);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}

.chat-message-body {
  margin-top: 10px;
}

.chat-message.advert {
  background-color: rgba(47, 92, 115, 0.8);
}

.chat-message.server {
  background-color: rgba(240, 200, 80, 0.8);
}

.chat-message.system {
  background-color: rgb(67, 57, 111);
}

.chat-message.emergency {
  background-color: rgba(224, 50, 50, 0.8);
}

.chat-message.nonemergency {
  background-color: rgba(112, 25, 25, 0.8);
}

.chat-message.help {
  background-color: rgba(109, 80, 240, 0.8);
  color: #ffffff;
}